/* Modal Container */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    resize: vertical;
    /* margin-right: 16px; */
  }
  
  /* Modal Content */
  .modal-content {
    background-color:rgba(45, 45, 45);
    color: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    max-width: 400px;
    width: 100%;
    text-align:left;
  }
  
  /* Modal Heading */
  .modal-content h2 {
    margin-bottom: 16px;
  }
  
  /* Form Inputs */
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-content input,
  .modal-content select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  /* Buttons */
  .modal-content button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: rgb(73, 108, 157);
  }
  
  