.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(45, 45, 45);
  font-family: 'Arial', sans-serif;
}

.session-form h2 {
  margin-bottom: 20px;
  font-size: 150%;
  color: #d7d7d7;
}

.session-form > label {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.session-form > label > span {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
}

.session-form  input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.session-form > input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #024a97;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.session-form > input[type="submit"]:hover {
  background-color: rgb(73, 108, 157);
}

.errors {
  width: 100%;
  text-align: left;
  color: red;
  margin: 5px 0;
}

/* body{
  background-color: rgb(45, 45, 45);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
} */


#demo:hover {
  background-color: rgb(73, 108, 157);
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 4px;
  border:10cap;
  cursor: pointer;
  border-top-color: aliceblue;
}

#demo{
  color: aliceblue;
  padding: 10px 20px;
  border-color:rgb(0, 0, 0);
  cursor: pointer;
  border-top-color: aliceblue;
}