
.incomes-page-container {
    font-family: Arial, sans-serif;
    margin: auto;
    width: 80%;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin:10%
  }
  
  form div {
    margin-bottom: 1rem;
  }
  
  label {
    display: inline-block;
    width: 200px;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background: rgb(45, 45, 45);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: rgb(73, 108, 157);
  }
  
  /* Income List */
  .income-list-container {
    margin-top: 2rem;
  }
  
  .income-item {
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin: 1rem 0;
  }
  
  .income-item p {
    margin: 0.5rem 0;
  }
  
  hr {
    border-top: 1px solid #e1e1e1;
  }
  
  .income-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  #income-chart {
    flex: 1;
  }
  
  #income-list {
    flex: 1;
    height: 500px; 
    overflow-y: auto;
  }

  #stt{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* position: relative; */
  }

  #i-list{
    /* position: relative; */

  }