
.background-video {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
    object-fit: cover;
  }
  

  .top-image {
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .main-page{
    background-color: rgb(45, 45, 45);
  }
  
  .top-image-container {
    position: relative;
  }
  
  .open-modal-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(45, 45, 45, 0.7);
    color: rgb(73, 108, 157);
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }

.open-modal-button.left {
    left: 0;
    transform: translateY(-50%);
    font-size: 150%;
}

.open-modal-button.right {
    right: 0;
    transform: translateY(-50%);
    font-size: 150%;
}

#toggleButton {
    background: rgba(45, 45, 45);
    color:rgb(64, 81, 107);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
  
.open-modal-button:hover{
    background: rgb(73, 108, 157);
    color: #000;
}

a{
  text-decoration: none;
}