.profile-section-container {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the child elements horizontally */
}

.profile-section-wrapper {
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center; /* Centers the child elements horizontally */
}

.profile-section {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the child elements horizontally */
  justify-content: center; /* Centers the child elements vertically */
}

.profile-container {
  font-family: Arial, sans-serif;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  background: #f9f9f9;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center; 
}

.profile-username {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(73, 108, 157);
  margin-bottom: 1rem;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

